# .dockerignore

# Ignore git files
.git
.gitignore

# Ignore local development artifacts
node_modules
npm-debug.log

# Ignore secrets file - these should be injected as environment variables
.env

# Ignore development-only files
.dockerignore
nodemon.json
README.md